#about
  max-width: 112.3rem
  margin: auto

.about__title
  margin-bottom: 10rem

  text-transform: uppercase

  color: #FFFFFF

  font-family: SchnyderL-Light
  font-size: 169px
  line-height: 169px
  line-height: .9

  .cursive
    display: block

.about__section
  display: flex

  margin-bottom: 4.7rem

.about__caption
  width: 33.8rem

  color: #F9F9F9

  font-family: HelveticaNeue-Light
  font-size: 20px

.about__p
  color: #F9F9F9

  font-family: HelveticaNeue-Light
  font-size: 42px
  line-height: 55.24px
