#casestudies

  h2
    margin-bottom: 26.1rem

    text-transform: uppercase

    color: #FFFFFF

    font-family: HelveticaNeue
    font-size: 48px

.casestudy
  margin-bottom: 30.1rem

  .casestudy__cta
    margin-left: 650px

.casestudy__title
  margin-bottom: 8.6rem
  margin-left: 28.6rem

  text-align: center
  text-transform: uppercase

  color: #FFFFFF

  font-family: SchnyderL-Light
  font-size: 169px
  line-height: 142px

.casestudy__stack
  margin: 0
  margin-bottom: 6.6rem
  margin-left: 650px
  padding: 0

.casestudy__stack__item
  margin: 0

  list-style: none

  text-transform: uppercase

  color: #F9F9F9

  font-family: HelveticaNeue
  font-size: 22px

.casestudy__cta

  a
    display: flex
    align-items: center

    color: #F9F9F9

    font-family: HelveticaNeue
    font-size: 22px

  img
    width: 30px
    height: 30px
    margin-left: 10px
    padding: 9px

    border: 1px solid rgba(#979797, .3)
    border-radius: 50%

.casestudy__images
  display: flex
  align-items: center
  justify-content: space-between

.casestudy__image
  position: relative
  z-index: -1

.casestudy__image--1
  top: -470px

.casestudy__image--2
  top: -20px
  left: -160px

.casestudy__image--3
  top: -180px

.casestudy--alt

  .casestudy__stack
    margin-left: 31.7rem

  .casestudy__cta
    margin-left: 31.7rem

  .casestudy__image--1
    top: 20px

  .casestudy__image--2
    top: -460px
    left: 121px

  .casestudy__image--3
    top: -50px
