.case-element
  max-width: 1158px
  margin: 0 auto
  margin-bottom: 20rem

  img, video
    max-width: 100%
    margin-bottom: 2rem

    &:last-child
      margin-bottom: 0

  small
    margin: 0

    text-transform: uppercase

    color: #F9F9F9

    font-family: 'Schnyder L'
    font-size: 16px

  h2
    display: block

    margin: 0
    margin-top: 2rem
    margin-bottom: 2rem

    text-transform: uppercase

    color: #F9F9F9

    font-family: 'Schnyder L'
    font-size: 72px
    line-height: 70px

  .divider
    width: 100%
    height: 1px
    margin-bottom: 2rem

    background: rgba(#979797, .3)

  .casestudy__cta
    margin-top: 3.6rem

  p
    color: #F9F9F9

    font-family: 'Helvetica Neue'
    font-size: 20px
    font-size: 18px
    line-height: 28px

.case-header
  position: relative

  display: flex
  overflow: hidden
  align-items: center
  flex-direction: column
  justify-content: center

  width: 100vw
  height: calc(100vh - 90px)
  padding-bottom: 9rem

  p
    margin: 0

    text-align: center
    text-align: center

    color: #FFFFFF

    font-family: 'Helvetica Neue'
    font-size: 20px
    font-size: 16px

  h1
    max-width: 113.2rem
    margin: 0 auto
    margin-top: 4.5rem

    text-align: center

    .cursive
      display: block

.header__overlay
  position: absolute
  z-index: -1

  width: 100%
  height: calc(100vh + 0px)

  background: rgba(#0d0d0d, 0.95)

#header__video
  position: absolute
  z-index: -2

  width: 100vw
  // height: 100%

.case-header__eye
  position: absolute
  right: 0
  bottom: 4.7rem
  left: 0

  margin: 0 auto

  transition: .3s

  &:hover
    transform: scale(1.7)

.case-intro
  margin-bottom: 20rem
  padding: 200px 40px

  background: #F3F0EC

  .case-element
    display: flex

    margin: 0 auto

    p
      color: #0d0d0d

      // &:last-child
      //   margin-bottom: 0

.case-intro__meta
  min-width: 9.1rem
  margin-right: 27.7rem

.case-element
  .case-intro__meta-group

    h4
      display: block

      margin: 0
      margin-bottom: 1.4rem

      opacity: 0.6
      color: #0D0D0D

      font-family: 'Helvetica Neue'
      font-size: 18px
      font-weight: 200

    p
      margin: 0

      color: #0D0D0D

      font-family: 'Helvetica Neue'
      font-size: 16px
      font-weight: 200

    a
      display: inline-block

      margin: 0
      padding-bottom: -5px

      transition: .3

      color: #0D0D0D
      border-bottom: 1px solid rgba(#0d0d0d, .2)

      font-family: 'Helvetica Neue'
      font-size: 16px
      font-weight: 200

      &:hover
        border-bottom: 1px solid rgba(#0d0d0d, .7)

.case-intro__meta-group
  margin-bottom: 4.5rem

  &:last-child
    margin-bottom: 0

.case-intro__text
  margin-top: -8px

  h5
    margin-top: 0
    margin-bottom: 2.3rem

    color: #0D0D0D

    font-family: 'Helvetica Neue'
    font-size: 26px
    line-height: 36px

  p
    margin-top: 0
    margin-bottom: 2.3rem

    color: #0D0D0D

    font-family: 'Helvetica Neue'
    font-size: 15px
    font-weight: 200
    line-height: 28px

    &:last-child
      margin-bottom: 0

.case-element__text
  max-width: 1098px
  margin: 0 auto
  margin-bottom: 7.3rem

.case-element__body
  display: flex

.case-element__body--centered
  align-items: center

  max-width: 1034px
  margin: 0 auto

  .case-element__column:first-child
    margin-right: 10.4rem

  p
    max-width: 524px

.case-element__column

  &:first-child
    margin-right: 4rem

.case-element-fullish
  max-width: 130.9rem
  margin: 0 auto

.case-element__grid
  display: flex
  align-items: stretch

  margin-bottom: 200px

.case-element__row

  h3
    width: 100%
    margin-bottom: 0
    padding: 1.3rem 3.9rem

    text-transform: uppercase

    color: #F9F9F9
    border: 1px solid rgba(#979797, .3)

    font-family: 'Schnyder L'
    font-size: 21.91px

  div
    display: flex
    align-items: center

    width: 100%
    height: 33rem
    padding: 3.9rem

    border: 1px solid rgba(#979797, .3)

    justify-items: center

.case-element--full
  width: 100vw
  margin-bottom: 20px
  margin-bottom: 200px

.case-element--full__img
  display: flex
  flex-direction: row

  width: 100vw

  img
    width: 33%
    height: 60rem
    margin-right: 1rem

    object-fit: cover

    &:last-child
      margin: 0

.case-element--full__img + p
  margin: 0 auto
  margin-top: 6.6rem

.case-element--full p
  max-width: 579px

  text-align: center

  color: #F9F9F9

  font-family: 'Helvetica Neue'
  font-size: 14px
  font-weight: 200
  line-height: 24px

p a
  padding-bottom: 1px

  color: inherit
  border-bottom: 1px solid rgba(#fff, .4)

.case-element--light
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

  max-width: 100vw
  padding: 100px 30px

  color: #0d0d0d
  background: #F3F0EC

  img
    max-width: 1155px
    margin: 0 auto

  h2, p
    color: #0d0d0d
