html[data-direction="down"] .main-header
  transform: translate3d(0,-100%,0)

.main-header
  position: fixed
  z-index: 10
  top: 0
  left: 0

  display: flex

  width: 100vw

  transition: .6s

  border-bottom: 1px solid rgba(#979797, .3)
  background: #0d0d0d

.logo-container
  padding: 1.6rem 5.6rem

  border-right: 1px solid rgba(#979797, .3)

.logo
  text-align: center

  color: #FFFFFF

  font-family: 'Schnyder L'
  font-size: 18px

nav
  display: flex
  align-items: center
  flex: 1
  justify-content: center

  padding: 0rem 5.6rem

.button-tainer button
  opacity: 0.5

  &:hover
    opacity: 1 !important

.button-tainer:first-child button
  opacity: 1

.button-tainer, .button-tainer button
  margin-right: 5.2rem

  transition: .3s
  text-align: center
  letter-spacing: 0.4px
  text-transform: uppercase

  color: #FFFFFF
  border: none
  background: none

  font-family: 'Helvetica Neue'
  font-size: 13px

  &:last-child
    margin-right: 0

  &:focus
    outline: none

.socials
  display: flex
  align-items: center
  justify-content: center

  padding: 0rem 5.6rem

  border-left: 1px solid rgba(#979797, .3)

  a
    margin-right: 30px

    text-align: center

    color: #FFFFFF

    font-family: 'Helvetica Neue'
    font-size: 15px

    &:last-child
      margin-right: 0

.button-tainer
  overflow: hidden

  height: 18px

.button-back
  position: fixed
  top: 25px
  right: 0
  left: 0

  display: flex
  visibility: hidden
  align-items: center
  justify-content: center

  width: 50px
  height: 50px
  margin: 0 auto

  transition: .3s
  transform: scale(0)

  opacity: 0
  color: #fff
  border: 1px solid rgba(#fff, 0.4)
  border-radius: 50%
  background: #0d0d0d

  &:hover
    transform: scale(1.2) !important
