header
  display: flex

  border-bottom: 1px solid rgba(#979797, .3)

.logo-container
  padding: 2rem 5.6rem

  border-right: 1px solid rgba(#979797, .3)

.logo
  text-align: center

  color: #FFFFFF

  font-family: SchnyderL-Light
  font-size: 17px

nav
  display: flex
  align-items: center
  flex: 1
  justify-content: center

  padding: 0rem 5.6rem

  a
    margin-right: 5.2rem

    transition: .3s
    text-align: center
    letter-spacing: 0.4px
    text-transform: uppercase

    opacity: 0.5
    color: #FFFFFF

    font-family: HelveticaNeue-Medium
    font-size: 13px

    &:first-child
      opacity: 1

    &:hover
      opacity: 1

    &:last-child
      margin-right: 0

.socials
  display: flex
  align-items: center
  justify-content: center

  padding: 0rem 5.6rem

  border-left: 1px solid rgba(#979797, .3)

  a
    margin-right: 30px

    text-align: center

    color: #FFFFFF

    font-family: HelveticaNeue
    font-size: 13px

    &:last-child
      margin-right: 0
